<main class="p-5 container">
  <a [routerLink]="['/']">
    <header>
      <h1 class="text-2xl font-bold">Whist Tournament Maker</h1>
    </header>
  </a>
  <section>
    <app-players 
      *ngIf="showAddPlayers"
      [existingPlayers]="playerNames"
      (sendPlayers)="onReceivedPlayers($event)"
    >
    </app-players>
    <app-tourney 
      *ngIf="!showAddPlayers"
      [tourney]="tourney"
      [playerNames]="playerNames"
      (sendRestart)="onRecievedRestart($event)"
    >
    </app-tourney>
    <router-outlet></router-outlet>
  </section>
</main>