<section class="p-2 container font-mono md:w-5/6 lg:w-2/3 xl:w-1/2">
    <p  *ngIf="tourney.rounds.length === 0">The number of players in your tournament must be multiple of 4 to start, ex: 4, 8, 12, etc.</p>    
    <div class="my-4"*ngFor="let round of tourney.rounds; index as r">
        <h2 class="text-lg font-semibold">Round {{r + 1}}</h2>
        <div class="flex flex-col">
            <div class="outline outline-2 rounded grid grid-cols-7 my-2" *ngFor="let table of round.tables">
                <div class="mx-2 col-span-3">
                    <p class="mb-2 break-words">{{playerNames.at(table.teams[0].players[0])}}</p>
                    <p class="break-words">{{playerNames.at(table.teams[0].players[1])}}</p>
                </div>
                <div class="mx-2 font-bold flex">
                    <p class="content-center">vs.</p>
                </div>
                <div class="mx-2 text-end col-span-3">
                    <p class="mb-2 break-words">{{playerNames.at(table.teams[1].players[0])}}</p>
                    <p class="break-words">{{playerNames.at(table.teams[1].players[1])}}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="justify-center p-3 mt-10 w-full outline outline-2 bg-red-300 hover:bg-red-400 active:bg-red-500" type="submit" (click)="endTournament()">End Tournament</button>
</section>